.overlay img {
    position: relative;
    width: 100%;
}

.overlay .title--centered {
    position: absolute;
    top: 40%;
    right: 80px;
    transform: translate(-50%, -50%);
    -webkit-text-stroke: 0.5px floralwhite;
    background-color: rgba(173, 173, 173, 0.05);
}

.overlay::after {
    background-image: linear-gradient(0deg, #000000 1%, transparent 10%);
    box-shadow: inset 0px -30px 50px 50px #000000;
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
